apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zipkin
  namespace: monitoring
  labels:
    app: zipkin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zipkin
  template:
    metadata:
      labels:
        app: zipkin
    spec:
      containers:
        - name: zipkin
          image: openzipkin/zipkin-slim:latest
          command: ["start-zipkin"]
          args: []
          ports:
          - name: http
            containerPort: 9411
          env:
            - name: STORAGE_TYPE
              value: "mem"
          imagePullPolicy: Always
          startupProbe:
            httpGet:
              path: /health
              port: 9411
            periodSeconds: 1
            failureThreshold: 30
          readinessProbe:
            httpGet:
              path: /health
              port: 9411
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: zipkin
  namespace: monitoring
  labels:
    app: zipkin
spec:
  type: ClusterIP
  ports:
    - port: 9411
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: zipkin

