controller:
  extraArgs:
    # Make nginx still keep accepting new connections for
    # +  5s (due to kube-proxy node health check update delay)
    # + 24s (3 * 8s - GCP LB health check probe failure)
    shutdown-grace-period: 30
  replicaCount: 3
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
          - key: app.kubernetes.io/name
            operator: In
            values:
            - ingress-nginx
        topologyKey: kubernetes.io/hostname
  service:
    annotations:
      cloud.google.com/neg: '{"ingress": true}'
    externalTrafficPolicy: Local
  config:
    keep-alive: "60"
    keep-alive-requests: "600000"
    upstream-keepalive-timeout: "4"
    upstream-keepalive-requests: "600000"
  startupProbe:
    httpGet:
      path: "/healthz"
      port: 10254
      scheme: HTTP
    periodSeconds: 1
    timeoutSeconds: 1
    successThreshold: 1
    failureThreshold: 60
  livenessProbe:
    initialDelaySeconds: 0
  readinessProbe:
    initialDelaySeconds: 0
  containerSecurityContext:
    capabilities:
      drop:
        - ALL
      add:
        - NET_BIND_SERVICE
    runAsUser: 101
    runAsGroup: 101
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: false
    runAsNonRoot: true
