apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-demo
  labels:
    app: java-demo
spec:
  replicas: 2
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: java-demo
  template:
    metadata:
      labels:
        app: java-demo
    spec:
      volumes:
      - name: tmp
        hostPath:
          path: /tmp
          type: Directory
      containers:
      - name: java-demo
        image: ${IMAGE_REPO_PREFIX}/java-demo:1.0.0-tomcat
        imagePullPolicy: Always
        lifecycle:
          preStop:
            sleep:
              seconds: 15
        resources:
          requests:
            cpu: 50m
            memory: 192Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          privileged: false
          capabilities:
            drop:
              - ALL
          runAsNonRoot: true
          runAsUser: 1000
        startupProbe:
          successThreshold: 1
          failureThreshold: 90
          periodSeconds: 1
          timeoutSeconds: 1
          httpGet:
            path: /actuator/health/readiness
            port: http-act
        readinessProbe:
          successThreshold: 1
          failureThreshold: 2
          periodSeconds: 3
          timeoutSeconds: 1
          httpGet:
            path: /actuator/health/readiness
            port: http-act
        volumeMounts:
        - mountPath: /tmp
          name: tmp
          readOnly: false
        ports:
        - name: http
          containerPort: 8080
        - name: http-act
          containerPort: 8081
---
apiVersion: v1
kind: Service
metadata:
  name: java-demo
spec:
  selector:
    app: java-demo
  ports:
  - protocol: TCP
    port: 80
    targetPort: http
---
apiVersion: v1
kind: Service
metadata:
  name: java-demo-headless
spec:
  clusterIP: None
  selector:
    app: java-demo
  ports:
  - protocol: TCP
    port: 80
    targetPort: http
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: java-demo
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: java-demo
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: java-demo
spec:
  ingressClassName: nginx
  rules:
  - host: java-demo
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: java-demo
            port:
              number: 80
