apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-demo
  labels:
    app: go-demo
spec:
  replicas: 2
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: go-demo
  template:
    metadata:
      labels:
        app: go-demo
    spec:
      containers:
      - name: go-demo
        image: ${IMAGE_REPO_PREFIX}/go-demo:1.0.0
        imagePullPolicy: Always
        # No need to sleep for 15 seconds here because the Go application implements
        # graceful shutdown (responding with 'Connection: close', still allowing new
        # requests and waiting for ongoing requests to finish) itself.
#        lifecycle:
#          preStop:
#            sleep:
#              seconds: 15
        env:
        - name: GRACEFUL_SHUTDOWN
          value: "true"
        resources:
          requests:
            cpu: 10m
            memory: 32Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          privileged: false
          capabilities:
            drop:
              - ALL
          runAsNonRoot: true
          runAsUser: 1000
        startupProbe:
          successThreshold: 1
          failureThreshold: 30
          periodSeconds: 1
          timeoutSeconds: 1
          httpGet:
            path: /ready
            port: http
        readinessProbe:
          successThreshold: 1
          failureThreshold: 2
          periodSeconds: 3
          timeoutSeconds: 1
          httpGet:
            path: /ready
            port: http
        ports:
        - name: http
          containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: go-demo
spec:
  selector:
    app: go-demo
  ports:
  - protocol: TCP
    port: 80
    targetPort: http
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: go-demo
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: go-demo
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: go-demo
spec:
  ingressClassName: nginx
  rules:
  - host: go-demo
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: go-demo
            port:
              number: 80
